*{
	margin: 0px;
	padding: 0px;
	font-family: Microsoft YaHei;
}
body{

	color: #333;
}
img{
	border: none;
}
a{
	text-decoration: none;
}
loginbox{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: #353c56;
    text-align: center;
}
lgmain{
    width: 1000px;
    height: 386px;
    display: inline-block;
}
lgmain img{
    float: left;
    margin-top: 161px;
    width: 100px;
}
lgmain div{
    float: left;
    width: 310px;
    margin-left: 28px;
    text-align: left;
    margin-top: 155px;
}
lgmain div p{
    float: left;
    font-size: 34px;
    color: #fff;
}
lgmain div span{
    float: left;
    font-size: 20px;
    color: #fff;
}
ylen{
    width: 1px;
    height: 100%;
    float: left;
    background-color: #44546e;
    margin-left: 60px;
}
lgtitle{
    float: left;
    color: #fff;
    font-size: 24px;
    margin-left: 75px;
    margin-bottom: 14px;
}
inputdiv{
    float: left;
    width: 400px;
    border-bottom: 1px solid #44546e;
    margin-top: 26px;
    margin-left: 75px;
}
inputdiv span{
    float: left;
    font-size: 22px;
    color: #44546e;
    line-height: 38px;
}
inputdiv input{
    float: left;
    width: 328px;
    border: none;
    outline: none;
    margin-left: 15px;
    line-height: 38px;
    font-size: 22px;
    color: #fff;
    background-color: transparent;
}
yzmdiv{
    float: left;
    width: 270px;
    border-bottom: 1px solid #44546e;
    margin-top: 26px;
    margin-left: 75px;
}
yzmdiv span{
    float: left;
    font-size: 22px;
    color: #44546e;
    line-height: 38px;
}
yzmdiv input{
    float: left;
    width: 173px;
    border: none;
    outline: none;
    margin-left: 15px;
    line-height: 38px;
    font-size: 22px;
    color: #fff;
    background-color: transparent;
}
yzmimg{
    float: left;
    width: 130px;
    height: 50px;
    background-color: #44546e;
    margin-top: 15px;
	cursor: pointer;
	background-size: 100% 100%;
}
loginbtn{
    float: left;
    width: 400px;
    margin-left: 75px;
    color: #fff;
    line-height: 52px;
    border-radius: 26px;
    background-color: #50e399;
    margin-top: 30px;
	font-size: 18px;
	cursor: pointer;

}
loginbtn:hover{
	background-color: #7fffbf;
}
jjmm{
	float: right;
	margin-right: 225px;
	margin-top: 16px;
	cursor: pointer;
}
jjmm chk{
	float: left;
	width: 16px;
	height: 16px;
	border: 1px solid #fff;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
jjmm cklab{
	float: left;
	color: #fff;
	font-size: 16px;
	line-height: 16px;
	margin-left: 5px;
}
wjmm{
	float: right;
	font-size: 16px;
	color: #fff;
	margin-right: 28px;
	margin-top: 16px;
	line-height: 16px;
	cursor: pointer;
}
wrongts{
	width: 400px;
	float: left;
	font: 14px;
	color: #FF4949;
	line-height: 28px;
	margin-left: 75px;
	text-align: left;
	margin-top: 10px;
}
tophdbox{
	width: 100%;
	float: left;
	background-color: #35383f;
	height: 44px;
}
tplfname{
	width: 210px;
	height: 100%;
	float: left;
	background-color: #59e47d;
	color: #fff;
	text-align: center;
}
tplfname p{
	float: left;
	width: 100%;
	font-size: 18px;
	letter-spacing: 2px;
	line-height: 28px;
}
tplfname span{
	float: left;
	width: 100%;
	font-size: 12px;
	display: inline-block;
	line-height: 12px;
}
navbs{
	float: left;
	line-height: 44px;
	color: #fff;
	font-size: 16px;
	margin-left: 20px;
}
userid{
	float: right;
	margin-right: 30px;
	line-height: 44px;
	color: #fff;
	font-size: 12px;
	cursor: pointer;
}
usertx{
	float: right;
	margin-right: 10px;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	background-color: #fff;
	margin-top: 8px;
}
leftnavbox{
	position: absolute;
	z-index: 9;
	top: 44px;
	left: 0px;
	box-shadow: 3px 0px 0px #999;
	overflow: hidden;
}
lnonebox{
	float: left;
	background-color: #35383f;
	padding-top: 16px;
	width:48px;
	transition: width 0.5s;
	overflow-x: hidden;
	overflow-y: auto;
}
lnhoverdiv{
	width: 176px;
	float: left;
	height: 36px;
	margin-top: 20px;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-left: 4px solid transparent;
}
lnclickdiv{
	width: 176px;
	float: left;
	color: #979eb0;
	height: 36px;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-left: 4px solid transparent;
	margin-left: -4px;
	margin-top: -4px;
}
lnclickdiv img{
	float: left;
	width: 16px;
	margin-left: 10px;
	margin-top: 10px;
}
lnclickdiv p{
	float: left;
	line-height: 36px;
	font-size: 16px;
	margin-left: 18px;
}
lntwobox{
	float: left;
	width: 0px;
	background-color: #4d5361;
	padding-top: 16px;
	transition: width 0.5s;
	overflow-x: hidden;
	overflow-y: auto;
}
lntwobox hoverptwo{
	float: left;
	width: 100%;
	height: 50px;

}
lntwobox hoverptwo:hover{
	background-color: #5b6678;
	font-weight: bold;
}
lntwobox p{
	float: left;
	width: 100%;
	line-height: 50px;
	font-size: 16px;
	color: #979eb0;
}
lntwobox p span{
	float: left;
	line-height: 45px;
	font-size: 40px;
	margin-left: 20px;
	margin-right: 10px;
}
lntwobox p jt{
	float: right;
	font-size: 14px;
	margin-right: 10px;
}
lnthreebox{
	float: left;
	width: 0px;
	background-color: #545b6c;
	padding-top: 16px;
	transition: width 0.5s;
	overflow-x: hidden;
	overflow-y: auto;
}
lnthreebox hoverpthree{
	float: left;
	width: 100%;
	height: 50px;
}
lnthreebox hoverpthree:hover{
	background-color: #5c626e;
	font-weight: bold;
}
lnthreebox p{
	float: left;
	width: 160px;
	line-height: 50px;
	font-size: 16px;
	color: #979eb0;
	padding-left: 20px;
}
lnthreebox p span{
	float: left;
	line-height: 45px;
	color: #979eb0;
	font-size: 40px;
	margin-left: 20px;
	margin-right: 10px;
}
centermainbox{
	float: left;
	margin-left: 50px;
	background-color: #f2f2f2;
}
centermainbox whitediv{
	float: left;
	background-color: #fff;
	margin: 15px;
	border-radius: 3px;
	overflow: hidden;
}
backlogin{
	float: right;
	font-size: 16px;
	line-height: 44px;
	color: #b8becc;
	margin-right: 30px;
}
backlogin:hover{
	text-decoration: underline;
}
fgtgray{
	width: 100%;
	float: left;
	text-align: center;
	background-color: #f2f2f2;
}
yhgltopdiv{
	width: 100%;
	float: left;
	background-color: #f2f2f2;
	position: relative;
}
ssjcdiv{
	float: left;
	margin-left: 20px;
	font-size: 14px;
	background-color: #13CE66;
	color: #fff;
	border-radius: 5px;
	height: 40px;
	line-height: 40px;
	width: 140px;
}
ssjcdiv p{
	display: inline;
	line-height: 40px;
	padding-left: 5px;
	font-size: 14px;
	padding-top: 5px;
}
yhglbtp{
	float: left;
	width: 100%;
	background-color: #f9f9f9;
	color: #333;
}
yhglbtp p{
	float: left;
	line-height: 40px;
	padding-left: 10px;
	border-left: 2px solid #5deda5;
	font-size: 16px;
}
yhglbtp span{
	float: left;
	font-size: 12px;
	margin-left: 5px;
	margin-top: 15px;
}
regionbox{
	float: left;
	width: 175px;
	border-right:10px solid #f2f2f2;
	overflow-x: hidden;
	overflow-y: scroll;

}
rightmainbox{
	float: left;
	overflow-x: hidden;
	overflow-y: auto;
}
notreemain{
	float: left;
	overflow-x: hidden;
	overflow-y: auto;
}
regback{
	position: absolute;
	width: 135px;
	height: 40px;
	padding-left: 25px;
	font-size: 16px;
	color: #999;
	line-height: 40px;
	text-align: left;
	border-bottom:10px solid #f0f0f0;
	cursor: pointer;
	background-size: 16px;
	background-position: 4%;
	background-repeat: no-repeat;
	top:59px;
	left: 65px;
	z-index: 5;
	background-color: #fff;
	overflow: hidden;
}
regddd{
	width: 160px;
	height: 50px;
	float: left;
}
regnone{
	width: 160px;
	line-height: 50px;
	float: left;
	font-size: 16px;
	color: #666;
	text-align: center;
}
rgnsrcdiv{
	float: left;
	width: 1000px;
	transition: margin-left 0.5s;
}
firstregion{
	float: left;
	width: 160px;

}
onep{
	float: left;
	width: 120px;
	padding-left: 10px;
	padding-right: 30px;
	font-size: 16px;
	color: #333;
	line-height: 44px;
	text-align: left;
	border-bottom: 1px solid #f2f2f2;
	cursor: pointer;
	background-size: 16px;
	background-position: 96%;
	background-repeat: no-repeat;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
onep:hover{
	font-weight: bold;
	font-size: 18px;
}
tworegion{
	float: left;
	width: 160px;

}
twop{
	float: left;
	width: 120px;
	padding-left: 10px;
	padding-right: 30px;
	font-size: 16px;
	color: #333;
	line-height: 44px;
	text-align: left;
	border-bottom: 1px solid #f2f2f2;
	cursor: pointer;
	background-size: 16px;
	background-position: 96%;
	background-repeat: no-repeat;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;

}
twop:hover{
	font-weight: bold;
	font-size: 18px;
}
threeregion{
	float: left;
	width: 160px;

}
threep{
	float: left;
	width: 120px;
	padding-left: 10px;
	padding-right: 30px;
	font-size: 16px;
	color: #333;
	line-height: 44px;
	text-align: left;
	border-bottom: 1px solid #f2f2f2;
	cursor: pointer;
	background-size: 16px;
	background-position: 96%;
	background-repeat: no-repeat;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
threep:hover{
	font-weight: bold;
	font-size: 18px;
}
fourregion{
	float: left;
	width: 160px;

}
fourp{
	float: left;
	width: 120px;
	padding-left: 10px;
	padding-right: 30px;
	font-size: 16px;
	color: #333;
	line-height: 44px;
	text-align: left;
	border-bottom: 1px solid #f2f2f2;
	cursor: pointer;
	background-size: 16px;
	background-position: 96%;
	background-repeat: no-repeat;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
fourp:hover{
	font-weight: bold;
	font-size: 18px;
}
fiveregion{
	float: left;
	width: 160px;

}
fivep{
	float: left;
	width: 120px;
	padding-left: 10px;
	padding-right: 30px;
	font-size: 16px;
	color: #333;
	line-height: 44px;
	text-align: left;
	border-bottom: 1px solid #f2f2f2;
	cursor: pointer;
	background-size: 16px;
	background-position: 96%;
	background-repeat: no-repeat;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;

}
fivep:hover{
	font-weight: bold;
	font-size: 18px;
}
blackbkgd{
	width: 100%;
	height: 100%;
	background-color: black;
	position: fixed;
	z-index: 99;
	opacity: 0.3;
	left: 0px;
	top: 0px;
}
newadder{
	width: 500px;
	position: fixed;
	z-index: 100;
	padding-bottom: 60px;
	background-color: #fff;
	border-radius: 5px;
	left: 0px;
	top: 0px;
	overflow: hidden;
}
newaddpq{
	width: 500px;
	position: fixed;
	z-index: 100;
	padding-bottom: 60px;
	background-color: #fff;
	border-radius: 5px;
	left: 0px;
	top: 0px;
	overflow: hidden;
}
newaddindex{
	width: 500px;
	position: fixed;
	z-index: 100;
	padding-bottom: 60px;
	background-color: #fff;
	border-radius: 5px;
	left: 0px;
	top: 0px;
	overflow: hidden;
}
leixingtc{
	width: 1000px;
	position: fixed;
	z-index: 100;
	height: 650px;
	background-color: #fff;
	border-radius: 5px;
	left: 0px;
	top: 0px;
	overflow: hidden;
}
newaddtc{
	width: 825px;
	position: fixed;
	z-index: 100;
	padding-bottom: 60px;
	background-color: #fff;
	border-radius: 5px;
	left: 0px;
	top: 0px;
	overflow:hidden;
}
deletetanc{
	width: 825px;
	position: fixed;
	z-index: 100;
	padding-bottom: 60px;
	background-color: #fff;
	border-radius: 5px;
	left: 0px;
	top: 0px;
	overflow:hidden;
}
newaddport{
	width: 825px;
	position: fixed;
	z-index: 100;
	padding-bottom: 60px;
	background-color: #fff;
	border-radius: 5px;
	left: 0px;
	top: 0px;
	overflow:hidden;
}
newaddsundevice{
	width: 825px;
	position: fixed;
	z-index: 100;
	padding-bottom: 60px;
	background-color: #fff;
	border-radius: 5px;
	left: 0px;
	top: 0px;
	overflow:hidden;
}
newaddchilddevice{
	width: 825px;
	position: fixed;
	z-index: 100;
	padding-bottom: 60px;
	background-color: #fff;
	border-radius: 5px;
	left: 0px;
	top: 0px;
	overflow:hidden;
}
newaddsp{
	width: 825px;
	position: fixed;
	z-index: 100;
	padding-bottom: 60px;
	background-color: #fff;
	border-radius: 5px;
	left: 0px;
	top: 0px;
	overflow:hidden;
}
realtanc{
	width: 900px;
	position: fixed;
	z-index: 100;
	background-color: #fff;
	border-radius: 5px;
	left: 0px;
	top: 0px;
	height: 500px;
	overflow-y: auto;
	overflow-x: hidden;
}
tcbt{
	float: left;
	line-height: 40px;
	color: #666;
	font-size: 16px;
	margin-left: 10px;
}
tcztp{
	float: left;
	line-height: 36px;
	color: #333;
	font-size: 16px;
	margin-left: 20px;

}
iframe{
	float: left;
	border: none;
}
xxzlxuant{
	width: 300px;
	line-height: 40px;
	float: left;
	font-size: 16px;
	color: #999;
	margin-left: 20px;
	margin-top: 40px;
}
historytanc{
	width: 1000px;
	height: 650px;
	position: fixed;
	z-index: 100;
	background-color: #fff;
	border-radius: 5px;
	left: 0px;
	top: 0px;
	overflow:hidden;
}
historytanc .el-table{
	height: 450px;
	overflow-y: auto;
}
historytanc .el-pagination .el-pagination__sizes .el-select span .el-select-dropdown .el-scrollbar .el-select-dropdown__wrap .el-select-dropdown__list{
	max-height: 50px;
}
chartser{
	width: 1000px;
	height: 400px;
	float: left;
	overflow-x: hidden;
	overflow-y: auto;
}
tiaoshitanc{
	width: 800px;
	position: fixed;
	z-index: 100;
	background-color: #fff;
	border-radius: 5px;
	left: 0px;
	top: 0px;
	height: 220px;
}
yaotiaotanc{
	width: 900px;
	position: fixed;
	z-index: 100;
	background-color: #fff;
	border-radius: 5px;
	left: 0px;
	top: 0px;
	height: 220px;
}
sbmcp{
	float: left;
	font-size: 16px;
	color: #333;
	margin-left: 30px;
}
sblxbbgreen{
	float: left;
	color: #333;
	font-size: 16px;
	line-height: 40px;
	border-bottom: 2px solid #5deda5;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 10px;
	margin-right: 10px;
}
sblxbbgray{
	float: left;
	color: #333;
	font-size: 16px;
	line-height: 40px;
	border-bottom: 2px solid #f0f0f0;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 10px;
	margin-right: 10px;
}
chartsdiv{
	width: 940px;
	margin-left: 30px;
	height:300px;
	float: left;
	margin-top: 50px;
	padding-bottom: 50px;
	border-bottom: 1px solid #e5e5e5;
}
chartload{
	float: left;
	width: 100%;
	text-align: center;
	margin-top: 110px;
}
chartload i{
	font-size: 40px;
	color: #333;
}
chartload p{
	width: 100%;
	font-size: 16px;
	color: #666;
	line-height: 50px;
}
lxxzslide{
	float: left;
	width: 100%;
	height: 0px;
	transition: height 0.5s;
	overflow: hidden;
}
pre{
	float: left;
	width: 940px;
	height: 480px;
	resize:none;
	outline: none;
	margin-left: 20px;
	margin-top: 20px;
	background-color: #fff;
	padding: 10px;
	border: 1px solid #e5e5e5;
}
zwsj{
	float: left;
	border-left: 1px solid #e0e6ed;
	border-right: 1px solid #e0e6ed;
	border-bottom: 1px solid #e0e6ed;
	font-size: 16px;
	text-align: center;
	line-height: 100px;
	color: #666;
	margin-left: 25px;
	letter-spacing: 10px;
}
zwsj1{
	float: left;
	border-left: 1px solid #e0e6ed;
	border-right: 1px solid #e0e6ed;
	border-bottom: 1px solid #e0e6ed;
	font-size: 16px;
	text-align: center;
	line-height: 100px;
	color: #666;
	letter-spacing: 10px;
}
zwsj_sb{
	float: left;
	border-left: 1px solid #e0e6ed;
	border-right: 1px solid #e0e6ed;
	border-bottom: 1px solid #e0e6ed;
	font-size: 16px;
	text-align: center;
	line-height: 100px;
	color: #666;
	margin-left: 25px;
	letter-spacing: 10px;
}
tdmainxuan{
	width: 300px;
	height: 260px;
	position: absolute;
	z-index: 666;
	overflow: hidden;
	box-shadow: 0 0 6px 0 rgba(0,0,0,.04),0 2px 4px 0 rgba(0,0,0,.12);
	left: 320px;
	top: 91px;
	transition: height 0.5s;
	background-color: #fff;
}
tdmainxuan div{
	width: 300px;
	float: left;
	height: 186px;
	overflow-x: hidden;
	overflow-y: scroll;
}
gaojtjxuan{
	width: 300px;
	height: 260px;
	position: absolute;
	z-index: 666;
	overflow: hidden;
	box-shadow: 0 0 6px 0 rgba(0,0,0,.04),0 2px 4px 0 rgba(0,0,0,.12);
	left: 320px;
	top: 91px;
	transition: height 0.5s;
	background-color: #fff;
}
gaojtjxuan gjtjdiv{
	width: 300px;
	float: left;
	height: 200px;
	overflow-x: hidden;
	overflow-y: scroll;
}
gaojtjxuan gjtjradsrc{
	float: left;
    width: 270px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f0f0f0;
}
gaojtjxuan gjtjradsrc radiobtn{
	float: left;
	font-size: 12px;
	color: #333;
	line-height: 26px;
	border: 1px solid #666;
	border-radius: 3px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	margin-top: 10px;
	margin-left: 5px;
	cursor: pointer;
}
gaojtjxuan gjtjradsrc radiobtn:hover{
	color: #13ce66;
	border: 1px solid #13ce66;
}
gaojtjxuan gjtjradsrc radiobtn.gjtj-active{
	color: #fff;
	background-color: #13ce66;
	border: 1px solid #13ce66;
}
gaojtjxuan1{
	width: 300px;
	height: 120px;
	position: absolute;
	z-index: 666;
	overflow: hidden;
	box-shadow: 0 0 6px 0 rgba(0,0,0,.04),0 2px 4px 0 rgba(0,0,0,.12);
	left: 320px;
	top: 91px;
	transition: height 0.5s;
	background-color: #fff;
}
gaojtjxuan gjtjdiv1{
	width: 300px;
	float: left;
	height: 100px;
	overflow-x: hidden;
	overflow-y: scroll;
}
gaojtjxuan1 gjtjradsrc{
	float: left;
    width: 270px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f0f0f0;
}
gaojtjxuan1 gjtjradsrc radiobtn{
	float: left;
	font-size: 12px;
	color: #333;
	line-height: 26px;
	border: 1px solid #666;
	border-radius: 3px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	margin-top: 10px;
	margin-left: 5px;
	cursor: pointer;
}
gaojtjxuan1 gjtjradsrc radiobtn:hover{
	color: #13ce66;
	border: 1px solid #13ce66;
}
gaojtjxuan1 gjtjradsrc radiobtn.gjtj-active{
	color: #fff;
	background-color: #13ce66;
	border: 1px solid #13ce66;
}
tdqxffx{
	width: 280px;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 16px;
	color: #333;
	line-height: 36px;
	text-align: left;
	cursor: pointer;
	border-top: 1px solid #f0f0f0;
	border-bottom: 1px solid #f0f0f0;
}
tdqxffx:hover{
	background-color: #f9f9f9;
}
tdqxffx.tdallx-no-selected span{
	float: right;
	width: 15px;
	height: 15px;
	border: 1px solid #666;
	border-radius: 3px;
	margin-top: 10px;
}
tdqxffx.tdallx-selected span{
	float: right;
	width: 15px;
	height: 15px;
	border: 1px solid #666;
	border-radius: 3px;
	margin-top: 10px;
	background-color: #13ce66;
}
tdppffx{
	width: 264px;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 14px;
	color: #666;
	line-height: 36px;
	text-align: left;
	cursor: pointer;
}
tdppffx:hover{
	background-color: #f9f9f9;
}
tdppffx.tddx-no-selected span{
	float: right;
	width: 15px;
	height: 15px;
	border: 1px solid #666;
	border-radius: 3px;
	margin-top: 10px;
}
tdppffx.tddx-selected span{
	float: right;
	width: 15px;
	height: 15px;
	border: 1px solid #666;
	border-radius: 3px;
	margin-top: 10px;
	background-color: #13ce66;
}
gjtjbt{
	float: left;
	text-align: left;
	font-size: 14px;
	line-height: 28px;
	color: #666;
	margin-top: 10px;
}
#tdgjzjsipt{
	width: 140px;
	height: 25px;
	float: left;
	border: 1px solid #C0CCDA;
	color: #333;
	font-size: 12px;
	border-radius: 3px;
	outline: none;
	margin-left: 10px;
	margin-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
}
lgout{
	text-align: center;
}
