@import '../../theme/sorollbar.less';
:local {
  .panel_wrap {
    .scrollCommon();
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 120%;
    z-index: 2;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
    .min_width {
      min-width: 1076px;
    }
  }
  .panel_active {
    left: 192px;
  }
  .panel_active_1280 {
    left: 58px;
  }
  .cl_mask {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
  }
  .close {
    font-size: 16px;
    position: absolute;
    cursor: pointer;
    border: 0;
    background: transparent;
    position: absolute;
    right: 0;
    top: 0;
    font-weight: 700;
    line-height: 40px;
    text-decoration: none;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    color: rgba(0, 0, 0, 0.45);
    outline: 0;
    width: 40px;
    text-align: center;
    padding: 0;
  }
  .panel_header {
    .panel_title {
      height: 40px;
      font-size: 14px;
      line-height: 40px;
      padding-left: 20px;
    }
  }
  .theme_white {
    background-color: rgba(255, 255, 255, 0.1);
    & + .panel_wrap {
      -webkit-box-shadow: 0 0 20px 1px #e2f2e6;
      -moz-box-shadow: 0 0 20px 1px #e2f2e6;
      -o-box-shadow: 0 0 20px 1px #e2f2e6;
      -ms-box-shadow: 0 0 20px 1px #e2f2e6;
      box-shadow: 0 0 20px 1px #e2f2e6;
      background-color: #fff;
      .close {
        color: rgba(0, 0, 0, 0.45);
      }

      .panel_title {
        background-color: #f9f9f9;
        color: #4a4a4a;
      }
    }
  }
  .theme_darker {
    background-color: rgba(0, 0, 0, 0.1);
    & + .panel_wrap {
      background: -moz-linear-gradient(45deg, #343c54 0%, #30485c 100%);
      background: -webkit-gradient(45deg, #343c54 0%, #30485c 100%);
      background: -webkit-linear-gradient(45deg, #343c54 0%, #30485c 100%);
      background: -o-linear-gradient(45deg, #343c54 0%, #30485c 100%);
      background: -ms-linear-gradient(45deg, #343c54 0%, #30485c 100%);
      background: linear-gradient(45deg, #343c54 0%, #30485c 100%);

      -webkit-box-shadow: 0 0 20px 1px #04164a;
      -moz-box-shadow: 0 0 20px 1px #04164a;
      -o-box-shadow: 0 0 20px 1px #04164a;
      -ms-box-shadow: 0 0 20px 1px #04164a;
      box-shadow: 0 0 20px 1px #04164a;
      .close {
        color: #fff;
      }

      .panel_title {
        background-color: #2f364b;
        color: #fff;
      }
    }
  }
}
