@import '../../../theme/sorollbar.less';
:local {
  .information_wrap {
    height: 100%;
  }
  .child_link {
    color: #13ce66;
    cursor: pointer;
    display: block;
    &:hover {
      color: #13ce66;
      text-decoration: underline;
    }
  }
  .icon_active {
    color: #ff9c00;
  }

  .edit_wrap {
    padding: 20px 38px 0 38px;
  }
  .statustwo {
    background-color: #ffd9d9;
  }
  .sub_title {
    color: #999;
    font-size: 14px;
    padding: 5px 0 10px 11px;
  }
  .alarm_delete {
    margin-right: 8px;
  }
  .alarm_placeholder {
    color: #a6a6a6;
  }
  .alarm_btn_wrap {
    .alarm_add {
      padding: 0;
      &:global(.ant-btn-clicked) {
        &:after {
          border-color: #40bc7e;
        }
      }
      width: 34px;
      span,
      i {
        line-height: 30px;
        height: 34px;
        font-size: 20px;
        width: 34px;
        text-align: center;
        color: #fff;
        display: block;
      }
      background-color: #50e399;
      border-color: #50e399;
      &:hover {
        background-color: #7fffbe;
        border-color: #7fffbe;
      }
      &:active {
        background-color: #40bc7e;
        border-color: #40bc7e;
      }
      &:focus {
        background-color: #50e399;
        border-color: #50e399;
      }
    }
  }
  .alarm_btn_wrap .alarm_delete {
    width: auto;
    background-color: #ff4949;
    border-color: #ff4949;
    &:hover {
      background-color: #ff4949;
      border-color: #ff4949;
    }
    &:active {
      background-color: #ff4949;
      border-color: #ff4949;
    }
    &:focus {
      background-color: #ff4949;
      border-color: #ff4949;
    }

    &:global(.ant-btn-clicked) {
      &:after {
        border-color: #ff4949;
      }
    }
    line-height: 30px;
    height: 30px;
    color: #fff;
    span,
    i {
      color: #fff;
    }
    padding: 0 10px;
  }
  .row_collapsed {
    &:after {
      content: '+';
    }
  }
  .row_expanded {
    &:after {
      content: '-';
    }
  }
  .line {
    height: 0px;
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
  }
  .expand_icon {
    font-style: normal;
    margin-right: 8px;
    margin-top: 2px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    display: inline-block;
    width: 17px;
    height: 17px;
    text-align: center;
    line-height: 14px;
    border: 1px solid #e8e8e8;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #fff;
  }
  .more {
    cursor: pointer;
    font-size: 22px;
  }
  .icon_passive {
    color: #5dccff;
  }
  .information_ct {
    .scrollCommon();
    .min_width {
      min-width: 1000px;
    }
    overflow: auto;
    // padding: 22px 38px 0;
    margin-top: 6px;
    background: #fff;
    height: -webkit-calc(~'100% - 68px');
    height: -moz-calc(~'100% - 68px');
    height: -ms-calc(~'100% - 68px');
    height: -o-calc(~'100% - 68px');
    height: calc(~'100% - 68px');
  }
  .valueType_wrap {
    padding: 20px 20px 20px 20px;
  }
  .alarm_wrap {
    padding: 20px 0px 20px 0px;
    .alarm_down {
      position: absolute;
      right: 24px;
      top: 50%;
      font-size: 22px;
      transform: scale(0.83333333) rotate(0deg) translateY(-50%);
    }
    :global {
      .ant-dropdown-trigger {
        cursor: pointer;
        line-height: 58px;
        height: 58px;
      }
      .padding0 {
        td {
          padding: 0px !important;
          border-right: 1px solid #e8e8e8;
          &:last-child {
            border-right: none;
          }
        }
      }
      .ant-select-selection-selected-value {
        float: none;
        transform: translate(-50%);
        position: absolute;
        left: 50%;
      }
      .ant-select-selection {
        border: none;
        border-radius: 0;
      }
    }
  }
  .alarm_operation {
    .alarm_row {
      text-align: center;
    }
    .msg_search {
      &:hover {
        background-color: transparent;
      }
      .alarm_row {
        & > div {
          margin-bottom: 0px;
        }
      }
    }

    overflow: auto;
    max-height: 240px;
  }
  .value_input {
    box-shadow: none !important;
    :global {
      .ant-input-number-handler-wrap {
        height: 58px;
        top: -14px;
      }
      .ant-input-number-input {
        text-align: center;
      }
    }
  }
  .con_input,
  .value_input {
    width: 100%;
    text-align: center;
    border: none;
    &:focus {
      box-shadow: none;
    }
  }
  .alarm_delete {
    margin-right: 8px;
  }
  .alarm_placeholder {
    color: #a6a6a6;
  }
  .alarm_add_wrap {
    position: relative;
    min-height: 50px;
    button {
      position: absolute;
      right: 10px;
      top: 0;
      border-radius: 17px;
      &:global(.ant-btn-clicked) {
        &:after {
          border-color: #40bc7e;
        }
      }
      line-height: 34px;
      height: 34px;
      color: #fff;
      span,
      i {
        color: #fff;
      }
      background-color: #50e399;
      border-color: #50e399;
      &:hover {
        background-color: #7fffbe;
        border-color: #7fffbe;
      }
      &:active {
        background-color: #40bc7e;
        border-color: #40bc7e;
      }
      &:focus {
        background-color: #50e399;
        border-color: #50e399;
      }
    }
  }
  .alarm_edit,
  .alarm_delete {
    background-color: #ff4949;
    border-color: #ff4949;
    &:hover {
      background-color: #ff4949;
      border-color: #ff4949;
    }
    &:active {
      background-color: #ff4949;
      border-color: #ff4949;
    }
    &:focus {
      background-color: #ff4949;
      border-color: #ff4949;
    }

    &:global(.ant-btn-clicked) {
      &:after {
        border-color: #ff4949;
      }
    }
    line-height: 30px;
    height: 30px;
    color: #fff;
    span,
    i {
      color: #fff;
    }
    padding: 0 10px;
  }
  .alarm_confirm {
    padding: 0 10px;
    &:global(.ant-btn-clicked) {
      &:after {
        border-color: #40bc7e;
      }
    }
    line-height: 30px;
    height: 30px;
    color: #fff;
    span,
    i {
      color: #fff;
    }
    background-color: #50e399;
    border-color: #50e399;
    &:hover {
      background-color: #7fffbe;
      border-color: #7fffbe;
    }
    &:active {
      background-color: #40bc7e;
      border-color: #40bc7e;
    }
    &:focus {
      background-color: #50e399;
      border-color: #50e399;
    }
  }
  .operation {
    .delete,
    .alarm,
    .edit,
    .detail {
      &:last-child {
        margin-right: 0;
      }
      margin-right: 30px;
      i {
        margin-right: 6px;
        cursor: pointer;
        color: #7e7e7e;
        font-size: 18px;
        &:hover {
          color: #5deda4;
        }
        &:active {
          color: #40bc7e;
        }
      }
      display: inline-block;
    }
  }
  .edit_wrap .add_virtual_btn {
    &[disabled] {
      opacity: 0.6;
    }
    width: auto;
    line-height: 36px;
    height: 36px;
  }
  .edit_wrap .valuetype_btn {
    width: auto;
    line-height: 36px;
    height: 36px;
    background-color: #50bfff;
    border-color: #50bfff;
    &[disabled] {
      opacity: 0.6;
    }
    &:hover {
      background-color: #73ccff;
      border-color: #73ccff;
    }
    &:active {
      background-color: #50bfff;
      border-color: #50bfff;
    }
    &:focus {
      background-color: #50bfff;
      border-color: #50bfff;
    }
    &:global(.ant-btn-clicked) {
      &:after {
        border-color: #f7ba2a;
      }
    }
  }
  .virtual_wrap {
    padding: 20px 20px 0 20px;
    :global {
      .cl_select_label_90 {
        width: auto;
        .ant-row {
          width: auto;
        }
        .ant-form-item-label {
          min-width: 95px;
        }
      }
    }
  }
}
:global {
  .cl_basic_modal {
    width: 100%;
    .ant-modal {
      .modal-footer {
        text-align: center;
      }
      .ant-modal-footer button + button {
        margin-left: 16px;
      }
      width: 100% !important;
      top: 0;
      height: 100%;
      padding-bottom: 0;
      .ant-modal-content {
        height: 100%;
        overflow: auto;
        .scrollCommon();
        min-width: 1100px;
      }
    }
  }
}
