:local {
  .icon_active {
    color: #ff9c00;
  }
  .icon_passive {
    color: #5dccff;
  }
  .remarks {
    width: 100%;
    line-height: 16px;
    padding-bottom: 12px;
    display: inline-block;
    vertical-align: top;
  }
  .active,
  .passive {
    padding-right: 10px;
    color: #424242;
  }
  .theme_darker {
    position: absolute;
    right: 0px;
    top: 0;
    width: auto;
    line-height: 36px;
    .active,
    .passive {
      color: #dedede;
    }
  }
}
